.App-header {
  min-height: 100vh;
}
.col-md-9 {
  width: 100%;
  margin-top: 3%;
}
.nav-stacked > li {
  width: 100%;
}
.nav-pills > .active > a > .badge {
  width: 1.2in;
}

.text-center {
  text-align: center;
}

.username {
  display: flex;
  align-items: center;
}

.stateNcountry {
  display: flex;
  align-items: center;
}
.stateNcountry div label {
  padding: 0 2%;
}
.cctaker {
  padding: 0;
  width: 95%;
  margin: 0 auto;
}
